<%- include('./header.ejs') -%>
<h2>EDIT MOVIE</h2>
<form action="/movie/edit/<%=m._id%>?_method=PUT" method="POST">
  <div class="mb-3">
    <label class="form-label">Movie Name</label>
    <input type="text" class="form-control" name="name" value="<%=m.name%>">
  </div>
  <div class="mb-3">
    <label class="form-label">Year</label>
    <input type="text" class="form-control" name="year" value="<%=m.year%>">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="desc" rows="3"><%=m.desc%></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Poster Image URL</label>
    <input type="text" class="form-control" name="img" value="<%=m.img%>">
  </div>
  <button type="submit" class="btn btn-primary w-100">Update Movie</button>
</form>
<%- include('./footer.ejs') -%>